.recruiter-sign-up-outer {
  min-height: 100vh;
  .header-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .inner-block {
    padding: 126px 134px 30px;
  }
}

/* Media Queries
  ---------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1535px) {
  .recruiter-sign-up-outer {
    .inner-block {
      padding: 120px 32px 30px;
    }
  }
}
@media (max-width: 1199px) {
}
@media (max-width: 899px) {
  .recruiter-sign-up-outer {
    .inner-block {
      padding: 85px 20px 20px;
    }
  }
}
@media (max-width: 599px) {
  .recruiter-sign-up-outer {
    .inner-block {
      padding: 85px 16px 20px;
    }
  }
}
