$outline: #bebebe;
$title: #212121;
$primaryMain: #4ca751;
$primaryMainLight: #cbe6cc;
$label: #989898;
$text: #606060;
$rejected: #f61e33;
$pending: #ebb44f;
$success: #6bac6e;
$declined: #f61e33;
$pending-light: #fffbf3;
$success-light: #effff0;
$declined-light: #fff4f5;
$primaryLight: #eef7ee;
$grey: #e0e0e0;
$grey-v-1: #f1f5f1;
$grey-v-2: #d1d1d1;
$grey-v-3: #dddee1;
$white: #ffffff;
$white-v-1: #fcfcfc;
$white-v-2: #f3f3f3;
$black: #000000;
$bodyBg: #f0f1f0;
$linkHover: #999;
$activeChat:#e2efe2;